<div class="row">
    <h1>Mis proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Red Neuronal/h1>
                <p>Realice una red neuronal capaz de predecir resultados de torneos con datos de los ultimos años de un equipo</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/red.png" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>
